*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mb-8{
    margin-bottom: 8px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
.w-full{
    width: 100%;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.rounded{
    border-radius: 100%;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.rounded-100{
    border-radius: 100%;
}
.d-none{
    display: none;
}